<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.example.mapper.ReportMapper">

	<resultMap id="ReportMap" type="egovframework.example.dto.ReportDTO">
        <id property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="evaluationId" column="evaluationId"/>
        <result property="reportTitle" column="reportTitle"/>
        <result property="reportContent" column="reportContent"/>
    </resultMap>

    <select id="existsReport" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM REPORT
        WHERE userId = #{userId}
          AND evaluationId = #{evaluationId}
    </select>

    <insert id="insertReport" parameterType="egovframework.example.dto.ReportDTO">
        INSERT INTO REPORT (
            userId,
            evaluationId,
            report_title,
            report_content
        ) VALUES (
            #{userId},
            #{evaluationId},
            #{reportTitle},
            #{reportContent}
        )
    </insert>

</mapper>