@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    font-family: 'Nanum Gothic';
}

.navbar-brand,
h1, h2, h3, h4 {
    font-family: 'Nanum Gothic';
}

h5 {
    font-family: 'Nanum Gothic';
    font-size: 18px;
}

.navbar .d-flex .btn,
.navbar .btn {
    white-space: nowrap;
}

.error-msg {
	color: red;
	font-size: 0.9em;
	margin-top: 5px;
        }